<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dra. Yuska - atendimentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pagina-interna">

<div class="container">
    <a href="/" class="btn-voltar">⬅ Voltar ao Menu</a>

    <h1>Gestão Hospitalar - Dra. Yuska</h1>
    <h2>Estatísticas</h2>

    <div class="container">

    <h2>Ranking de atendimentos de residentes</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>

        {% for linha in ranking_residentes %}
        <tr>
            <td>{{ linha[0] }}</td>
            <td>{{ linha[1] }}</td>

        </tr>
        {% else %}
        <tr>
            <td colspan="2" class="vazio">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </table>

    </div>

    <div class="container">

    <h2>Exemplo: Preceptores com mais de 5 atendimentos</h2>
    <table>
        <tr>
            <th>Nome</th>
        </tr>

        <tr>
            <td colspan="1" class="vazio">Nenhum registro encontrado.</td>
        </tr>
    </table>

    </div>

</div>

</body>
</html>
