<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dra. Yuska - Início</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pagina-menu">

<div class="menu-container">
    <h1>Hospital Dra. Yuska</h1>
    <p class="subtitulo">Sistema de Gestão Hospitalar - Escolha uma operação no menu abaixo</p>

    <div class="grid-menu">

        <a href="/listar_atendimentos" class="card-botao">
            <span class="icone">📋</span>
            Listar Atendimentos
        </a>

        <a href="/listar_procedimentos" class="card-botao">
            <span class="icone">💉</span>
            Listar procedimentos
        </a>

        <a href="/novo_atendimento" class="card-botao">
            <span class="icone">➕</span>
            Inserir Novo Atendimento
        </a>

        <a href="/remover_procedimento" class="card-botao">
            <span class="icone">❌</span>
            Remover Procedimento Realizado
        </a>

        <a href="/atualizar_paciente" class="card-botao">
            <span class="icone">🔄</span>
            Atualizar Dados de Paciente
        </a>

        <a href="/estatisticas" class="card-botao">
            <span class="icone">📊</span>
            Estatísticas
        </a>

        <a href="/pacientes_sem_alto" class="card-botao">
            <span class="icone">🩺</span>
            Pacientes sem Procedimentos de Risco Alto
        </a>

        <a href="/tempo_medio_residentes" class="card-botao">
            <span class="icone">🩺</span>
            Tempo médio de duração dos atendimentos por residente
        </a>
    </div>
</div>

</body>
</html>
