<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes sem Procedimentos de Alto Risco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pagina-interna">

<div class="container">

    <a href="/" class="btn-voltar">⬅ Voltar</a>

    <h1>Pacientes que nunca realizaram procedimentos de risco ALTO</h1>

    <table>

        <tr>
            <th>Nome</th>
            <th>CPF</th>
        </tr>

        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2" class="vazio">Nenhum paciente encontrado.</td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>
